
{{#each gigs as |gig| }}
<h2>
  <a href="/dashboard/{{gig.id}}">{{gig.band.band_name}}</a>  
</h2>
<p>
    Location: {{gig.location}}
</p>
<p>Date: {{gig.date}}</p>
<p>Time: {{gig.time}}</p>
{{/each}}

{{log gigs}}
