{{log gigs}}
{{log check_user}}

{{#each gigs as |gig| }}
<h2>
  <a href="/dashboard/{{gig.user_id}}">{{gig.user.username}}</a>  
</h2>
<p>
    Location: {{gig.location}}
</p>
<p>Date: {{gig.date}}</p>
<p>Time: {{gig.time}}</p>
{{/each}}
